<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            {{myPortfolio.firstName}}
            <span class="text-primary">{{myPortfolio.lastName}}</span>
        </h1>
        <div class="subheading mb-3">
            {{myPortfolio.position}}
        </div>
        <div class="subheading mb-5">
            {{myPortfolio.address}}<br>
            <a href="mailto:name@email.com">{{myPortfolio.email}}</a>
        </div>
        <p class="lead mb-5">{{myPortfolio.summary}}</p>
        <div class="social-icons">
            <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>