<section class="resume-section" id="project">
    <div class="resume-section-content" id="main-project-container">
            <h2 class="mb-5">Projectos</h2>
                <div class="text-center">
                <button 
                        *ngIf="isLoggedIn"
                        type="button" 
                        class="btn btn-success" 
                        data-bs-toggle="modal" 
                        data-bs-whatever="@fat"
                        (click)="onOpenModal('add')">
                        Añadir projecto
                </button>
    </div>
    <div class="row" *ngFor="let proj of project">
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{proj.projectName}}</h3>
                <div>{{proj.description}}</div>
                <div> <a [href]="proj.url_photo"></a> </div>
                <div>
                    <a
                        *ngIf="isLoggedIn"
                        (click)="onOpenModal('edit', proj)"
                        class="btn btn-primary tooltips"
                        data-placement="top"
                        data-toggle="tooltip"
                        data-original-title="Edit">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a
                        *ngIf="isLoggedIn"
                        (click)="onOpenModal('delete', proj)"
                        class="btn btn-secondary tooltips"
                        data-placement="top"
                        data-toggle="tooltip"
                        data-original-title="Delete">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        <div class="flex-shrink-0">
            <span class="text-primary">{{proj.projectDate}}</span>
        </div>
    </div>
</div>
</div>
    <!--Modal Add Education-->
    <div 
        class="modal fade" 
        id="addProjectModal" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="addProjectModalLabel" 
        aria-hidden="true"
        >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 
                    class="modal-title" 
                    id="addProjectModalLabel">
                    Añadir projecto
                    </h5>
                    <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddProject(addForm)">
                    <div class="form-group">
                        <label for="projectName">Nombre del proyecto:</label>
                        <input type="text"
                        ngModel
                        name="projectName"
                        class="form-control"
                        id="projectName"
                        placeholder="Nombre"
                        required
                        >
                    </div>
                    <div class="form-group">
                        <label for="projectDate">Fecha:</label>
                        <input type="text"
                        ngModel
                        name="projectDate"
                        class="form-control"
                        id="projectDate"
                        placeholder="Fecha"
                        required
                        >
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción:</label>
                        <input type="text"
                        ngModel
                        name="description"
                        class="form-control"
                        id="description"
                        placeholder="Descripción"
                        required
                        >
                    </div>
                    <div class="form-group">
                        <label for="url_photo">URL de imagen:</label>
                        <input type="text"
                        ngModel
                        name="url_photo"
                        class="form-control"
                        id="url_photo"
                        placeholder="URL de imagen"
                        required
                        >
                    </div>
                    <div class="modal-footer">
                        <button
                        type="button"
                        id=""
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        >
                        Cerrar
                        </button>
                        <button
                        [disabled]="addForm.invalid"
                        type="submit"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                        >
                        Añadir
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!--Modal Edit Project-->
    <div 
        class="modal fade" 
        id="editProjectModal" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="editProjectModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 
                    class="modal-title" 
                    id="editProjectModalLabel">
                    Editar project - {{editProject?.projectName}} -[{{editProject?.id}}]
                    </h5>
                    <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="close"
                    ></button>
                </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <input type="hidden"
                        ngModel="{{editProject?.id}}"
                        name="id"
                        class="form-control"
                        id="id"
                        placeholder="id"
                        >
                    </div>
                    <div class="form-group">
                        <label for="projectName">Nombre del proyecto:</label>
                        <input type="text"
                        ngModel="{{editProject?.projectName}}"
                        name="projectName"
                        class="form-control"
                        id="projectName"
                        placeholder="Nombre"
                        >
                    </div>
                    <div class="form-group">
                        <label for="projectDate">Fecha:</label>
                        <input type="text"
                        ngModel="{{editProject?.projectDate}}"
                        name="projectDate"
                        class="form-control"
                        id="projectDate"
                        placeholder="Fecha"
                        required
                        >
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción:</label>
                        <input type="text"
                        ngModel="{{editProject?.description}}"
                        name="description"
                        class="form-control"
                        id="description"
                        placeholder="Descripción"
                        >
                    </div>
                    <div class="form-group">
                        <label for="url_photo">URL de imagen:</label>
                        <input type="text"
                        ngModel="{{editProject?.url_photo}}"
                        name="url_photo"
                        class="form-control"
                        id="url_photo"
                        placeholder="URL de imagen"
                        >
                    </div>
                    <div class="modal-footer">
                        <button
                        type="button"
                        id=""
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        >
                        Cerrar
                        </button>
                        <button
                        (click)="onUpdateProject(editForm.value)"
                        type="submit"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                        >
                        Añadir cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!--Modal Delete Education-->
    <div 
        class="modal fade" 
        id="deleteProjectModal" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="deleteProjectModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 
                    class="modal-title" 
                    id="deleteProjectModalLabel">
                    Borrar proyecto
                    </h5>
                    <button
                    type="button btn-close"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="close"
                    ></button>
                </div>
            <div class="modal-body">
                <p>¿Está seguro de borrar?</p>
            </div>
            <div class="modal-footer">
                <button
                type="button"
                id=""
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                >
                Cerrar
                </button>
                <button
                (click)="onDeleteProject(deleteProject!.id)"
                data-bs-dismiss="modal"
                class="btn btn-danger"
                >
                Aceptar
                </button>
            </div>
        </div>
    </div>
    </div> 
    <!--ALERT MESSAGE - EDUCATIONS NOT FOUND-->
    <div *ngIf="project?.length == 0" class="col-lg-3 col-md-11 col-x1-2 text-center">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">NO HAY PROYECTOS</h4>
        </div>
    </div>
</section>
    