<!-- Navigation-->
<app-navigator></app-navigator>
<!-- Page Content-->
<div class="container-fluid p-0">
  <!-- About-->
  <app-about></app-about>
  <hr class="m-0" />
  <!-- Experience-->
  <app-experience></app-experience>
  <hr class="m-0" />
  <!-- Education-->
  <app-education></app-education>
  <hr class="m-0" />
  <!-- Skills-->
  <app-skills></app-skills>
  <hr class="m-0" />
  <!-- Interests-->
  <app-interests></app-interests>
  <hr class="m-0" />
  <!-- Awards-->
  <app-awards></app-awards>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>