  <button *ngIf="!isLoggedIn"
          type="button"
          class="btn btn-info px-3 mx-3 btn-outline-primary border text-dark" 
          data-bs-toggle="modal" 
          data-bs-target="#loginModal"
  >
  Iniciar Sesión
  </button>
  <button *ngIf="isLoggedIn"
          type="button"
          class="btn btn-danger px-3 mx-3 btn-outline-primary border text-dark" 
          (click)="logout()"
  >
  Cerrar Sesión
  </button>
<!-- Modal -->
<div 
    class="modal fade"
    id="loginModal" 
    tabindex="-1" 
    aria-labelledby="loginModalLabel" 
    aria-hidden="true"
    data-backdrop="false"
    >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">INICIAR SESION</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSend($event)">
          <div class="mb-3">
            <label for="id_username" class="form-label">Nombre de Usuario</label>
            <input formControlName="username" [class.is-invalid]="usernameField.touched && usernameField.invalid" type="text"
              class="form-control" id="id_username">
            <div *ngIf="usernameField.touched && usernameField.hasError('required')" class="d-block invalid-feedback">Ingrese usuario.</div>
            <div *ngIf="usernameField.touched && usernameField.hasError('username')" class="d-block invalid-feedback">
              El formato de usuario no es correcto</div>
          </div>
          <div class="mb-3">
            <label for="id_Password" class="form-label">Contraseña</label>
            <input formControlName="password" [class.is-invalid]="passwordField.touched && passwordField.invalid"
              type="password" class="form-control" id="id_password">
            <div *ngIf="passwordField.touched && passwordField.hasError('required')" class="d-block invalid-feedback">
              Ingrese la contraseña</div>
          </div>
          <button 
                  [disabled]="form.invalid"
                  type="submit" 
                  class=" mt-3 btn btn-primary w-100"
                  data-bs-dismiss="modal"
                  >INGRESAR</button>
        </form>
      </div>
    </div>
  </div>
</div>