<section class="resume-section" id="education">
    <div class="resume-section-content" id="main-container">
        <h2 class="mb-5">Education</h2>
        <div class="text-center">
            <button 
                type="button" 
                class="btn btn-success" 
                data-bs-toggle="modal" 
                data-bs-whatever="@fat"
                (click)="onOpenModal('add')">
                Añadir educacion
            </button>
        </div>
        <div class="row" *ngFor="let edu of education">
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                   <h3 class="mb-0">{{edu.schoolName}}</h3>
                   <div class="subheading mb-3">{{edu.title}}</div>
                   <div>{{edu.description}}</div>
                   <div> <a href="{{edu.url_photo}}"></a> </div>
                   <div>
                        <a
                            (click)="onOpenModal('edit',edu)"
                            class="btn btn-primary tooltips"
                            data-placement="top"
                            data-toggle="tooltip"
                            data-original-title="Edit">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a
                            (click)="onOpenModal('delete',edu)"
                            class="btn btn-secondary tooltips"
                            data-placement="top"
                            data-toggle="tooltip"
                            data-original-title="Delete">
                            <i class="fa fa-times"></i>
                        </a>
                   </div>
               </div>
               <div class="flex-shrink-0"><span class="text-primary">{{edu.start}} - {{edu.end}}</span></div>
           </div>
        </div>
    </div>
    <!--Modal Add Education-->
    <div    
        class="modal fade" 
        id="addEducationModal" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="addEducationModalLabel" 
        aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 
                            class="modal-title" 
                            id="addEducationModalLabel">
                            Añadir educación
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="close"
                            ></button>
                    </div>
                    <div class="modal-body">
                        <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
                            <div class="form-group">
                                <label for="schoolName">Nombre de institución:</label>
                                <input type="text"
                                        ngModel
                                        name="schoolName"
                                        class="form-control"
                                        id="schoolName"
                                        placeholder="Nombre"
                                        required
                                        >
                            </div>
                            <div class="form-group">
                                <label for="title">Título:</label>
                                <input type="text"
                                        ngModel
                                        name="title"
                                        class="form-control"
                                        id="title"
                                        placeholder="Titulo"
                                        required
                                        >
                            </div>
                            <div class="form-group">
                                <label for="start">Inicio:</label>
                                <input type="text"
                                        ngModel
                                        name="start"
                                        class="form-control"
                                        id="start"
                                        placeholder="Inicio"
                                        required
                                        >
                            </div>
                            <div class="form-group">
                                <label for="end">Fin:</label>
                                <input type="text"
                                        ngModel
                                        name="end"
                                        class="form-control"
                                        id="end"
                                        placeholder="Fin"
                                        required
                                        >
                            </div>
                            <div class="form-group">
                                <label for="description">Descripción:</label>
                                <input type="text"
                                        ngModel
                                        name="description"
                                        class="form-control"
                                        id="description"
                                        placeholder="Descripción"
                                        required
                                        >
                            </div>
                            <div class="form-group">
                                <label for="url_photo">URL de imagen:</label>
                                <input type="text"
                                        ngModel
                                        name="url_photo"
                                        class="form-control"
                                        id="url_photo"
                                        placeholder="URL de imagen"
                                        required
                                        >
                            </div>
                            <div class="modal-footer">
                                <button
                                        type="button"
                                        id="add-education-form"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                        >
                                        Cerrar
                                </button>
                                <button
                                        [disabled]="addForm.invalid"
                                        type="submit"
                                        class="btn btn-primary"
                                        data-bs-dismiss="modal"
                                        >
                                        Añadir
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    <!--Modal Edit Education-->
    <div    
        class="modal fade" 
        id="editEducationModal" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="editEducationModalLabel" 
        aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 
                            class="modal-title" 
                            id="editEducationModalLabel">
                            Editar educación - {{editEducation?.schoolName}} -[{{editEducation?.id}}]
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="close"
                            ></button>
                    </div>
                    <div class="modal-body">
                        <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
                            <div class="form-group">
                                <label for="schoolName">Nombre de institución:</label>
                                <input type="text"
                                        ngModel="{{editEducation?.schoolName}}"
                                        name="schoolName"
                                        class="form-control"
                                        id="schoolName"
                                        placeholder="Nombre"
                                        >
                            </div>
                            <div class="form-group">
                                <label for="title">Título:</label>
                                <input type="text"
                                        ngModel="{{editEducation?.title}}"
                                        name="title"
                                        class="form-control"
                                        id="title"
                                        placeholder="Titulo"
                                        required
                                        >
                            </div>
                            <div class="form-group">
                                <label for="start">Inicio:</label>
                                <input type="text"
                                        ngModel="{{editEducation?.start}}"
                                        name="start"
                                        class="form-control"
                                        id="start"
                                        placeholder="Inicio"
                                        >
                            </div>
                            <div class="form-group">
                                <label for="end">Fin:</label>
                                <input type="text"
                                        ngModel="{{editEducation?.end}}"
                                        name="end"
                                        class="form-control"
                                        id="end"
                                        placeholder="Fin"
                                        >
                            </div>
                            <div class="form-group">
                                <label for="description">Descripción:</label>
                                <input type="text"
                                        ngModel="{{editEducation?.description}}"
                                        name="description"
                                        class="form-control"
                                        id="description"
                                        placeholder="Descripción"
                                        >
                            </div>
                            <div class="form-group">
                                <label for="url_photo">URL de imagen:</label>
                                <input type="text"
                                        ngModel="{{editEducation?.url_photo}}"
                                        name="url_photo"
                                        class="form-control"
                                        id="url_photo"
                                        placeholder="URL de imagen"
                                        >
                            </div>
                            <div class="modal-footer">
                                <button
                                        type="button"
                                        id="add-education-form"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                        >
                                        Cerrar
                                </button>
                                <button
                                        type="submit"
                                        class="btn btn-primary"
                                        >
                                        Añadir cambios
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    <!--Modal Delete Education-->
    <div    
        class="modal fade" 
        id="deleteEducationModal" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="deleteEducationModalLabel" 
        aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 
                            class="modal-title" 
                            id="deleteEducationModalLabel">
                            Borrar educación
                        </h5>
                        <button
                            type="button btn-close"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="close"
                            ></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de borrar?</p>
                    </div>
                    <div class="modal-footer">
                        <button
                                type="button"
                                id="delete-education-form"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                >
                                Cerrar
                        </button>
                        <button
                                (click)="onDeleteEducation(deleteEducation!.id)"
                                data-bs-dismiss="modal"
                                class="btn btn-danger"
                                >
                                Aceptar
                        </button>
                    </div>
                </div>
            </div>
    </div> 
<!--ALERT MESSAGE - EDUCATIONS NOT FOUND-->
    <div *ngIf="education?.length == 0" class="col-lg-3 col-md-11 col-x1-2 text-center">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">NO HAY EDUCACIONES</h4>
        </div>
    </div>
</section>