<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <ul>
            <li style="list-style:none" *ngFor="let experience of experienceList">
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">{{experience.position}}</h3>
                        <div class="subheading mb-3">{{experience.company}}</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">{{experience.start}} - {{experience.end}}</span></div>
                </div>
            </li>
        </ul>
    </div>
</section>
